<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ucla.erlab.brainresearch">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StroopActivity"
            android:label="@string/title_activity_stroop"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".IntroStroopActivity"
            android:label="@string/title_activity_intro_stroop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FinishActivity"
            android:label="@string/title_activity_finish"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StressReductionActivity"
            android:label="@string/title_activity_stress_reduction"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IntroStressReductionActivity"
            android:label="@string/title_activity_intro_stress_reduction"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RedDotActivity"
            android:label="@string/title_activity_red_dot"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IntroPVTActivity"
            android:label="@string/title_activity_intro_pvt"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".BlowBreathHoldActivity"
            android:label="@string/title_activity_breath_hold_blow"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IntroBreathHoldActivity"
            android:label="@string/title_activity_intro_breath_hold"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BlowValsalvaActivity"
            android:label="@string/title_activity_valsalva_blow"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IntroValsalvaActivity"
            android:label="@string/title_activity_intro_valsalva"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RestActivity"
            android:label="@string/title_activity_rest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QuestionActivity"
            android:label="@string/title_activity_question"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BloodPressureActivity"
            android:label="@string/title_activity_blood_pressure"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PulseOxConnActivity"
            android:label="@string/title_activity_pulse_ox_conn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IntroSetupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>